# Node modules
node_modules/

# Log files
*.log

# Build artifacts
/build/
/dist/
*.js.meta

# Environment files
.env

# IDE and editor configurations
idea/
vscode/
DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcuserstate
project.xcworkspace/
*.xcsettings
*.xcodeproj

# Android
*.iml
gradle/
local.properties
idea/
build/
# VS Code local history
.history/
